<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Kosarica</title>
<style>
    h1 {
        border: 2px solid black;
        text-align: center;
    }

    .scroll_okno {
        width: 300px;
        height: 40px;
        font-size: 15px;
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
</head>
<body>
    <h1>Košarica</h1>
    % if izdelki:
        <ul>
        % for i in izdelki:
            <li>{{i.naziv}} - {{i.cena}} €</li>
        % end
        </ul>
        <p>Skupna cena: {{skupna_cena}} </p>

        <form action="/izdelki-oddaj" method="post">
            <label for="dostava">Izberite način dostave:</label>
            <select name="dostava_id" required>
            % for dostava in dostave:
                <option value="{{dostava.id}}">{{dostava.mesto}} ({{dostava.postna_stevilka}})</option>
            % end
            </select>
            <br>
            <input type="submit" value="Oddaj naročilo">
        </form>

    % else:
        <p>Košarica je prazna.</p>
    % end
    <br>
    <form action="/kosarica/pocisti" method="get">
        <button type="submit">Počisti košarico</button>
    </form><br>
    <hr>

    <form action="/izdelki">
        <button type="submit">Nazaj na izdelke</button>
    </form><br>

    <form action="/">
        <button type="submit">Home</button>
    </form>

</body>
</html>